.blue-Button {
  background-color: #1a6fb4;
  color: #fff;	 
  font-weight: 700;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-width: 4px;
  border-color: #083c74;
  border-radius: 0.25rem;
  margin-left: 50px;
}

.blue-Button:disabled {
  background-color: #63b3ed;
  border-color: #b4d4ee;
  cursor: not-allowed;
}
