.cards-container {
  display: flex;
  width: 100%; 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; 
  padding: 15px;
}

.text {
  margin: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

span {
  padding: 15px;
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
}

.card-result {
  width: 100%; 
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; 
  padding: 15px;
  text-align: center;
}

