.link {
  max-width: 5%;
  border-radius: 50%;
  padding: 1px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 10%;    
    text-align: center;
    line-height: 100px; 
}

h3 {
  max-height: 100%;
}
