.wall-Input {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.425);
  height: 20%;
  width: 90%;
  border-radius: 15px;
}

.span-value {
  font-weight: 700;
  color: #2c5282;
}