.container-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 25px;
} 

.container-input input {
  width: 35%;
} 

.instructions {
  font-size: small;
  padding: 0;
  margin: 0;
}